.features {
  position: relative; 
  bottom: 40px; 
  background: #ffffff; 
  border: solid #BDBDBD 0; 
  box-shadow: 0 17px 29px rgba(0, 0, 0, 0.2)  ; 
  -webkit-box-shadow: 0 17px 29px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-collapse: collapse;
}
.post-image {
  position: relative; 
  bottom: 80px; 
  box-shadow: 0 17px 29px rgba(0, 0, 0, 0.2)  ; 
   border-radius: 16px;
  -webkit-box-shadow: 0 16px 29px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;

  img {
     border-radius: 16px;
  }
}
.img-responsive {
    width: auto;
    height: 100px;
}