.features {
  position: relative; 
  bottom: 40px; 
  background: #ffffff; 
  border: solid #BDBDBD 0; 
  box-shadow: 0 17px 29px rgba(0, 0, 0, 0.2)  ; 
  -webkit-box-shadow: 0 17px 29px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-collapse: collapse;
}
.img-responsive {
    width: auto;
    height: 100px;
}